@import "./../vars";

.main {
  padding: calc($space * 6) 0 0 0;
  h1 {
    font-size: 5rem;
    @media (max-width: 470px) {
      font-size: 3rem;

    }
    text-transform: uppercase;
  }
  h2 {
    padding-top: calc($space * 2);

  }
}

.products {
  margin: 32px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.personalCards {
  padding:  calc($space * 3) 0;
  display: grid;
  @media (min-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  gap: calc($space * 2);
}
.personalCard {
  text-align: center;
  img {
    border-radius: 50%;
  }
  i {
    color: $accent-color;
    font-size: 18px;
  }
}
.img {
  //margin-top: calc($space * 2);
  width: 100%;
  filter: blur(2px);
}