@import "./../vars";

.main {
  padding: calc($space * 6) 0 0 0;
  h1 {
    font-size: 5rem;
    @media (max-width: 470px) {
      font-size: 3rem;

    }
    text-transform: uppercase;
  }
  h2 {
    padding-top: calc($space * 2);

  }
}
.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 470px) {
    grid-template-columns: 1fr;
  }
  gap: calc($space * 2) $space;
  padding: calc($space * 2) 0;
  h3 {
    padding-bottom: 6px;
  }
  address {
    font-style: normal;
  }
}

.formular {
  margin-top: calc($space * 2);
  display: flex;
  flex-direction: column;
  gap: $space;
  label {
    color: $special-color;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  input, textarea {
    padding: 12px;
    font-size: 18px;
    background-color: #272627;
    color: $text-color;
    border-radius: 8px;
    border: none;
  }
  textarea {
    width: auto;
    min-height: 100px;
    resize: vertical;
  }
  button{
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: $special-color;
    color: $text-color;
    border-radius: 8px;
    border: none;
  }
}
.nameGroup {
  display: grid;
  gap: $space;
  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }
}