@import "./../vars";

.main {
  padding: calc($space * 6) 0 0 0;
  h1 {
    font-size: 5rem;
    @media (max-width: 470px) {
      font-size: 3rem;

    }
    text-transform: uppercase;
  }
  h2 {
    padding-top: calc($space * 2);

  }
}