@import "/src/app/vars";

.form-retro {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  gap: $space;
  label {
    color: $special-color;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  input, select {
    padding: 12px;
    font-size: 18px;
    background-color: #272627;
    color: $text-color;
    border-radius: 8px;
    border: none;
  }
  button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: $special-color;
    color: $text-color;
    border-radius: 8px;
    border: none;
  }
}

.login-register-p {
  text-align: center;
  a {
    color: $accent-color;
  }
}
.phone-group {
  display: grid;
  gap: 12px;
  @media (min-width: 450px) {
    grid-template-columns: 80px 1fr;
    gap: $space;
  }
}