@import "./../vars";

.main {
  padding: calc($space * 6) 0 0 0;
  h1 {
    font-size: 5rem;
    text-transform: uppercase;
    @media (max-width: 470px) {
      font-size: 3rem;
    }
  }
  h2 {
    padding-top: calc($space * 2);
  }
}

.cartItems {
  flex-direction: column;
  padding: $space 0;
  display: flex;
  gap: $space;

}
.cartItem {
  @media (max-width: 800px) {
    text-align: center;
    img {
      width: 100%;
      height: 500px;
    }
  }
  @media (min-width: 800px){
    display: grid;
    grid-template-columns: 230px 1fr 126px;
    gap: $space;
    img {
      height: 230px;
      width: 230px;
    }
  }
  img {
    object-fit: cover;
    border-radius: 8px;
  }
}
.itemDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quantityControl {
  display: flex;
  align-items: center;
  gap: 12px;
  @media (max-width: 800px) {
    justify-content: center;
  }
  span {
    font-size: 20px;
  }
  button {
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $special-color;
    color: $text-color;
    font-size: 20px;
  }
}
.itemTotal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    text-align: center;
    font-size: 20px;
  }
  button {
    background-color: $special-color;
    color: $text-color;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    padding: 12px 18px;
    font-weight: 600;
    text-transform: uppercase;

  }
}
.summary {
  @media (max-width: 800px) {
    text-align: center;
  }
  p {
    text-transform: uppercase;
    margin: 0;
  }
  h2 {
    margin: 0;
    padding: 0;
  }
}

.error {
  background-color: #ff6b6b;
  color: white;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.orderForm {
  h2 {
    margin: calc($space * 2) 0 $space 0;
  }
}

.form, .formPayment{
  display: flex;
  flex-direction: column;
  gap: $space;
  label {
    color: $special-color;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  input, select {
    padding: 12px;
    font-size: 18px;
    background-color: #272627;
    color: $text-color;
    border-radius: 8px;
    border: none;
  }
}
.nameGroup {
  display: grid;
  gap: $space;
  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }
}
.phoneGroup {
  display: grid;
  gap: 12px;
  @media (min-width: 450px) {
    grid-template-columns: 80px 1fr;
    gap: $space;
  }
}
.phoneDiv {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.formPayment {
  margin: calc($space * 2) 0 $space 0;
}
.submitButton {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background-color: $special-color;
  color: $text-color;
  border-radius: 8px;
  border: none;
}
