@import "./../vars";

.main {
  padding: calc($space * 6) 0 0 0;
  h1 {
    font-size: 5rem;
    @media (max-width: 470px) {
      font-size: 3rem;

    }
    text-transform: uppercase;
  }
}
.actions {
  margin-top: $space;
  display: flex;
  gap: $space;
  a {
    text-decoration: none;
    padding: 12px;
    font-size: 18px;
    background-color: $special-color;
    color: $text-color;
    border-radius: 8px;
  }
}